body {
  width: 100%;
  height: auto;
}

#whole {
  width: 100%;
  height: auto;
}

#whole .side {
  cursor: pointer;
  position: fixed;
  z-index: 998;
  bottom: 0px;
  right: 10px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

#whole .side .goTop {
  display: none;
  flex-direction: column;
}

#whole .side li {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #333;
  padding: 0 5px;
  border-bottom: 1px solid #f7f7f7;
}

#whole .side li:first-child {
  color: #00aaa6;
}

#whole .side li i {
  width: 36px;
  height: 36px;
  margin: 0 5px;
  line-height: 36px;
  font-size: 28px;
}

#whole .side li span {
  height: 18px;
  font-size: 10px;
}

#whole .side li:last-child {
  border-bottom: none;
}

#whole .side li:last-child i {
  transform: rotateZ(180deg);
}

#whole .side .shop-car {
  position: relative;
}

#whole .side .shop-car .car-count {
  position: absolute;
  top: 2px;
  right: 0;
  background-color: orangered;
  color: white;
  font-size: 10px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 50% 50%;
}

#whole .side .move-app {
  position: relative;
}

#whole .side .move-app:hover .move {
  display: block;
}

#whole .side .move-app .move {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  left: -133px;
  top: 50%;
  transform: translateY(-50%);
}

#whole .side .move-app .move::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translateY(-50%);
  display: block;
  z-index: 333;
  width: 0;
  height: 0;
  border-width: 6px 6px;
  border-style: solid;
  border-color: transparent transparent transparent #FFFFFF;
}

#whole .side .move-app .move .move-img {
  border: black;
  box-shadow: 0 5px 10px 0;
  width: 90px;
  padding: 15px;
  padding-top: 5px;
  height: 120px;
}

#whole .side .move-app .move .move-img p {
  font-size: 12px;
  text-align: center;
  color: #666;
  font-weight: 600;
  height: 18px;
}

#whole .side .move-app .move .move-img img {
  width: 100%;
  height: 75%;
}

#whole .top-img {
  width: 100%;
  height: 80px;
}

#whole .top-img a {
  width: 100%;
  height: 100%;
}

#whole .topNav {
  width: 100%;
  color: #ccc;
  background-color: #333;
}

#whole .topNav .Nav {
  width: 1200px;
  margin: 0 auto;
  height: 36px;
}

#whole .topNav .Nav a,
#whole .topNav .Nav .nav-li > span {
  color: #ccc;
}

#whole .topNav .Nav a:hover,
#whole .topNav .Nav .nav-li > span:hover {
  color: #fff;
}

#whole .topNav .Nav .nav-li {
  cursor: pointer;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  float: left;
  margin: 0 10px;
}

#whole .topNav .Nav .nav-li > span {
  cursor: pointer;
  display: inline-block;
}

#whole .topNav .Nav .nav-li:nth-child(1) {
  margin-left: 0;
}

#whole .topNav .Nav .nav-lia:hover {
  color: #00aaa6;
}

#whole .topNav .Nav .navl {
  float: left;
}

#whole .topNav .Nav .navr {
  float: right;
}

#whole .topNav .Nav .navr .nav-app {
  position: relative;
}

#whole .topNav .Nav .navr .nav-app:hover .app {
  display: block;
  z-index: 2222;
}

#whole .topNav .Nav .navr .nav-app .app {
  position: absolute;
  display: none;
  width: 124px;
  background-color: #fff;
  color: #ccc;
  border: black;
  box-shadow: 0 5px 10px 0;
  top: 36px;
  left: 50%;
  transform: translateX(-50%);
}

#whole .topNav .Nav .navr .nav-app .app::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  z-index: 333;
  width: 0;
  height: 0;
  border-width: 10px 8px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

#whole .topNav .Nav .navr .nav-app .app .app-img {
  width: 110px;
  padding: 7px;
  height: 110px;
}

#whole .topNav .Nav .navr .nav-app .app p {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #333;
  text-align: center;
  padding-bottom: 5px;
}

#whole .topNav .Nav .navr .nav-daohang {
  position: relative;
}

#whole .topNav .Nav .navr .nav-daohang:hover .daohang {
  display: inline-block;
}

#whole .topNav .Nav .navr .nav-daohang .daohang {
  position: absolute;
  z-index: 99999;
  right: 0;
  bottom: -124px;
  padding: 0 50px 24px;
  width: 1000px;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 #666;
  cursor: pointer;
  display: none;
}

#whole .topNav .Nav .navr .nav-daohang .daohang li {
  display: inline-block;
  height: 100px;
  margin-left: 50px;
}

#whole .topNav .Nav .navr .nav-daohang .daohang li i {
  font-size: 14px;
  color: #262626;
  font-weight: 600;
}

#whole .topNav .Nav .navr .nav-daohang .daohang li p a {
  margin-right: 5px;
  display: inline-block;
  color: #777777;
  font-size: 12px;
}

#whole .topNav .Nav .navr .nav-daohang .daohang li p a:hover {
  color: #00aaa6;
}

#whole .mainnav {
  width: 100%;
  background-color: #fff;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 333;
}

#whole .mainnav .mainnav-mid {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  font-size: 0;
}

#whole .mainnav .mainnav-mid .logol {
  height: 72px;
  line-height: 72px;
  display: inline-block;
}

#whole .mainnav .mainnav-mid .logol a {
  margin: 15px 15px 15px 0;
  width: 160px;
  display: inline-block;
  height: 42px;
  background: url(../images/login.png) no-repeat;
  background-size: 100% 100%;
}

#whole .mainnav .mainnav-mid .nav-title {
  display: inline-block;
  width: 985px;
  position: relative;
}

#whole .mainnav .mainnav-mid .nav-title .nav-title-child {
  float: left;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

#whole .mainnav .mainnav-mid .nav-title .nav-title-child a {
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  padding: 16px 0;
}

#whole .mainnav .mainnav-mid .nav-title .nav-title-child a:hover {
  color: #00aaa6;
}

#whole .mainnav .mainnav-mid .nav-title .nav-hover {
  position: relative;
}

#whole .mainnav .mainnav-mid .nav-title .nian {
  position: relative;
}

#whole .mainnav .mainnav-mid .nav-title .nian span {
  position: absolute;
  top: 16px;
  right: -10px;
  width: 30px;
  text-align: center;
  line-height: 12px;
  height: 12px;
  background-color: #F26522;
  font-size: 9px;
  color: #fff;
}

#whole .mainnav .mainnav-mid .nav-title .mouse-box {
  display: none;
  position: absolute;
  top: 72px;
  left: -175px;
  margin: 0 auto;
  width: 1200px;
  height: 300px;
  background-color: #eee;
  z-index: 999;
}

#whole .mainnav .mainnav-mid .nav-title .mouse-box .mouse-box-mid {
  height: 300px;
  margin: 0 auto;
}

#whole .mainnav .mainnav-mid .nav-title .mouse-box .mouse-box-mid .mainnav-le {
  float: left;
  height: 84%;
  padding: 2% 0;
  width: 60%;
}

#whole .mainnav .mainnav-mid .nav-title .mouse-box .mouse-box-mid .mainnav-le li {
  display: inline-block;
  width: 29%;
  height: 48px;
  margin: 1% 2%;
  line-height: 48px;
}

#whole .mainnav .mainnav-mid .nav-title .mouse-box .mouse-box-mid .mainnav-le li:hover a span {
  color: #00aaa6;
}

#whole .mainnav .mainnav-mid .nav-title .mouse-box .mouse-box-mid .mainnav-le li a {
  display: inline-block;
  height: 100%;
}

#whole .mainnav .mainnav-mid .nav-title .mouse-box .mouse-box-mid .mainnav-le li a img {
  display: inline-block;
  width: 48px;
  margin: 0 6px;
  height: 48px;
}

#whole .mainnav .mainnav-mid .nav-title .mouse-box .mouse-box-mid .mainnav-le li a span {
  height: 30px;
  color: #333;
  vertical-align: top;
  font-size: 16px;
}

#whole .mainnav .mainnav-mid .nav-title .mouse-box .mouse-box-mid .mainnav-le .mainnav-last {
  vertical-align: top;
  text-indent: 5px;
}

#whole .mainnav .mainnav-mid .nav-title .mouse-box .mouse-box-mid .mainnav-ri {
  float: right;
  width: 30%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#whole .mainnav .mainnav-mid .nav-title .mouse-box .mouse-box-mid .mainnav-ri li {
  width: 40%;
  height: 40%;
  margin: 1%;
  background-color: #fff;
}

#whole .mainnav .mainnav-mid .nav-title .mouse-box .mouse-box-mid .mainnav-ri li:hover p {
  color: #00aaa6;
}

#whole .mainnav .mainnav-mid .nav-title .mouse-box .mouse-box-mid .mainnav-ri li a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#whole .mainnav .mainnav-mid .nav-title .mouse-box .mouse-box-mid .mainnav-ri li a img {
  width: 80px;
  height: 80px;
}

#whole .mainnav .mainnav-mid .nav-title .mouse-box .mouse-box-mid .mainnav-ri li a p {
  text-indent: 10px;
  font-size: 12px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666;
  white-space: nowrap;
}

#whole .mainnav .mainnav-mid .nav-title .mouse-box .mouse-box-mid .mainnav-ri li a span {
  font-weight: 600;
  color: red;
  font-size: 16px;
}

#whole .mainnav .mainnav-mid .search {
  display: none;
  width: 1000px;
  height: 72px;
  position: absolute;
  top: 0;
  right: -1000px;
  transition: all 1s;
  background-color: #fff;
}

#whole .mainnav .mainnav-mid .search .open {
  display: inline-block;
  width: 40px;
  font-size: 30px;
  font-weight: bolder;
  height: 50px;
  vertical-align: bottom;
  outline: none;
  background-color: transparent;
}

#whole .mainnav .mainnav-mid .search .input {
  height: 40px;
  width: 80%;
  margin-top: 20px;
  outline-style: none;
  display: inline-block;
  text-indent: 15px;
  font-size: 16px;
  background-color: transparent;
  color: #ccc;
}

#whole .mainnav .mainnav-mid .search .close {
  position: absolute;
  top: 6px;
  right: 0px;
  width: 50px;
  font-size: 22px;
  vertical-align: bottom;
  background-color: #fff;
  color: #ccc;
  outline: none;
  cursor: pointer;
  font-weight: bolder;
  height: 50px;
}

#whole .mainnav .mainnav-mid .search-big {
  position: absolute;
  padding-left: 10px;
  margin: 10px;
  width: 40px;
  height: 50px;
  line-height: 52px;
  top: 0;
  right: 0;
  background: #fff;
}

#whole .mainnav .mainnav-mid .search-big i {
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: 600;
}

#whole .cart-song {
  width: 100%;
}

#whole .cart-song .cart-cont-title {
  width: 1168px;
  height: 52px;
  line-height: 52px;
  font-size: 0;
  padding: 0 16px;
  margin: 20px auto 15px;
  /* height: auto; */
  background-color: #fff;
}

#whole .cart-song .cart-cont-title .title-le {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

#whole .cart-song .cart-cont-title .carry {
  height: 100%;
  display: inline-block;
  position: relative;
  margin-left: 10px;
}

#whole .cart-song .cart-cont-title .carry .carry-detail {
  display: inline-block;
  font-size: 14px;
  height: 100%;
}

#whole .cart-song .cart-cont-title .carry .carry-detail span {
  vertical-align: top;
  display: inline-block;
}

#whole .cart-song .cart-cont-title .carry .carry-detail i {
  font-size: 24px;
  display: inline-block;
  transform: rotateZ(-90deg);
}

#whole .cart-song .cart-cont-title .carry .carry-arr {
  position: absolute;
  left: -10px;
  top: 45px;
  width: 495px;
  padding: 12px;
  z-index: 999;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px #aaa;
  box-shadow: 0 2px 4px #aaa;
  overflow: hidden;
}

#whole .cart-song .cart-cont-title .carry .carry-arr .carry-arr-title {
  width: 100%;
  line-height: 36px;
  height: 37px;
  border-bottom: 1px solid #aaaaaa;
}

#whole .cart-song .cart-cont-title .carry .carry-arr .carry-arr-title li {
  display: inline-block;
  height: 36px;
  text-align: center;
  position: relative;
  line-height: 37px;
  font-size: 16px;
  margin-right: 18px;
}

#whole .cart-song .cart-cont-title .carry .carry-arr .carry-arr-title li::after {
  position: absolute;
  top: 13px;
  right: -10px;
  content: '';
  width: 1px;
  height: 14px;
  background: #777;
}

#whole .cart-song .cart-cont-title .carry .carry-arr .carry-arr-title li:last-child::after {
  width: 0;
  height: 0;
}

#whole .cart-song .cart-cont-title .carry .carry-arr .carry-arr-title li a {
  color: #222222;
  text-decoration: none;
  display: inline-block;
  width: 97px;
  vertical-align: top;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#whole .cart-song .cart-cont-title .carry .carry-arr .carry-arr-title li i {
  font-size: 18px;
  display: inline-block;
  transform: rotateZ(-90deg);
}

#whole .cart-song .cart-cont-title .carry .carry-arr .carry-arr-title .carry-active {
  color: #00AAA6;
  border-bottom: 2px solid #00AAA6;
}

#whole .cart-song .cart-cont-title .carry .carry-arr .carry-arr-title .carry-active i {
  color: #aaaaaa;
}

#whole .cart-song .cart-cont-title .carry .carry-arr .little {
  width: 100%;
}

#whole .cart-song .cart-cont-title .carry .carry-arr .little .little-so {
  display: inline-block;
  width: 85px;
  margin: 10px 19px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

#whole .cart-song .cart-cont-title .carry .carry-arr .little .little-so a {
  color: #222222;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  display: block;
}

#whole .footer {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #FFFFFF;
  height: auto;
}

#whole .footer .footer-un {
  width: 100%;
  padding: 20px 0;
}

#whole .footer .footer-un .footer-un-limi {
  width: 1188px;
  height: 106px;
  margin: 0 auto;
  font-size: 0;
}

#whole .footer .footer-un .footer-un-limi .footer-un-box {
  vertical-align: top;
  display: inline-block;
  width: 297px;
  height: 100%;
}

#whole .footer .footer-under {
  width: 100%;
  background-color: #FFFFFF;
}

#whole .footer .footer-under .footer-under-limi {
  width: 1188px;
  height: 254px;
  margin: 0 auto;
  font-size: 0;
}

#whole .footer .footer-under .footer-under-limi .footer-under-le {
  vertical-align: top;
  display: inline-block;
}

#whole .footer .footer-under .footer-under-limi .footer-under-le li {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  vertical-align: top;
}

#whole .footer .footer-under .footer-under-limi .footer-under-le li h3 {
  height: 22px;
  line-height: 22px;
  color: #262626;
  font-size: 16px;
  margin: 5px 0 20px;
}

#whole .footer .footer-under .footer-under-limi .footer-under-le li a {
  height: 18px;
  line-height: 18px;
  color: #777777;
  font-size: 14px;
  margin: 10px 0;
}

#whole .footer .footer-under .footer-under-limi .footer-under-le li a:hover {
  color: #00aaa6;
}

#whole .footer .footer-under .footer-under-limi .footer-under-ri {
  display: inline-block;
  width: 228px;
  height: 100%;
  text-align: center;
}

#whole .footer .footer-under .footer-under-limi .footer-under-ri h2 {
  width: 100%;
  line-height: 32px;
  color: #00aaa6;
  font-size: 24px;
}

#whole .footer .footer-under .footer-under-limi .footer-under-ri img {
  width: 100px;
  height: 100px;
  margin: 16px auto 10px;
}

#whole .footer .footer-under .footer-under-limi .footer-under-ri p {
  height: 18px;
  line-height: 18px;
  width: 100%;
  font-size: 14px;
  color: #777777;
}

#whole .tail {
  width: 100%;
  background-color: #3F3F3F;
  height: 60px;
  margin-top: 20px;
}

#whole .tail .tail-limi {
  width: 1188px;
  height: 50px;
  padding: 5px 0;
  font-size: 0;
  margin: 0 auto;
}

#whole .tail .tail-limi img {
  vertical-align: top;
  display: inline-block;
  width: 140px;
  height: 50px;
  margin-right: 10px;
}

#whole .tail .tail-limi p {
  height: 18px;
  line-height: 18px;
  width: 100%;
  font-size: 14px;
  color: #777777;
  margin: 5px 0;
}

#whole .tail .tail-limi .permit {
  vertical-align: top;
  display: inline-block;
}

#whole .tail .tail-limi .copyright {
  width: 670px;
  margin: 0 10px;
  vertical-align: top;
  display: inline-block;
}

#whole .tail .tail-limi .copyright p {
  text-align: right;
}

#whole .tail .tail-limi a p:hover {
  color: #00aaa6;
}
