#whole {
  position: relative;
}

#whole .swiper-container {
  width: 100%;
  height: 500px;
}

#whole .swiper-container a {
  height: 100%;
}

#whole .swiper-container .swiper-button-prev {
  display: none;
  left: 0;
  background-color: #333;
  width: 40px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  opacity: .6;
  --swiper-navigation-color: #FFFFFF;
  --swiper-navigation-size: 26px;
  font-weight: 600;
}

#whole .swiper-container .swiper-button-next {
  display: none;
  right: 0;
  background-color: #333;
  width: 40px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  opacity: .3;
  --swiper-navigation-color: #FFFFFF;
  --swiper-navigation-size: 26px;
  font-weight: 600;
}

#whole .swiper-container .swiper-pagination {
  width: 30%;
  --swiper-pagination-color: transparent;
}

#whole .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

#whole .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  margin: -2px 4px;
  border: 3px solid #FFFFFF;
}

#whole .main {
  width: 100%;
  height: auto;
  background: #F7F7F7;
}

#whole .main .main-limi {
  width: 1188px;
  height: auto;
  margin: 0 auto;
  background-color: #F7F7F7;
  font-size: 0;
}

#whole .main .main-limi .more {
  width: 100%;
  height: 100%;
}

#whole .main .main-limi .more:hover .one-img {
  opacity: 0;
}

#whole .main .main-limi .more:hover .one-img-hover {
  opacity: 1;
}

#whole .main .main-limi .more .one-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: all 1s ease-in-out;
  display: inline-block;
}

#whole .main .main-limi .more .one-img-hover {
  display: inline-block;
  position: absolute;
  transition: all 1s ease-in-out;
  opacity: 0;
  left: 0;
  top: 0;
}

#whole .main .main-limi .one-hover {
  width: 100%;
  height: 100%;
}

#whole .main .main-limi .one-hover:hover .one-img {
  opacity: 0;
}

#whole .main .main-limi .one-hover .one-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 1;
  transition: all 0.5s linear;
  display: inline-block;
}

#whole .main .main-limi .one-hover .one-img-hover {
  opacity: 1;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

#whole .main .main-limi .main-title {
  font-size: 28px;
  margin: 60px 0 40px;
  font-weight: 600;
  color: #1E1E1E;
  background-color: #F7F7F7;
}

#whole .main .main-limi .main-title .more {
  right: 0;
  top: 0px;
  width: 94px;
  height: 27px;
}

#whole .main .main-limi .main-one {
  width: 100%;
  height: 296px;
  line-height: 296px;
  font-size: 0;
}

#whole .main .main-limi .main-one .one-le {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 588px;
  height: 100%;
  margin-right: 6px;
}

#whole .main .main-limi .main-one .one-mid {
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 294px;
  height: 100%;
  margin-right: 6px;
}

#whole .main .main-limi .main-one .one-ri {
  vertical-align: top;
  display: inline-block;
  width: 294px;
}

#whole .main .main-limi .main-one .one-ri .one-ri-un {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 145px;
  margin-bottom: 6px;
}

#whole .main .main-limi .main-one .one-ri .one-ri-under {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 145px;
}

#whole .main .main-limi .main-second-top {
  width: 100%;
  font-size: 0;
  height: 60px;
}

#whole .main .main-limi .main-second-top .bag,
#whole .main .main-limi .main-second-top a {
  display: inline-block;
  width: 198px;
  height: 100%;
}

#whole .main .main-limi .main-second-top a {
  position: relative;
}

#whole .main .main-limi .main-second-under {
  width: 100%;
  height: 506px;
}

#whole .main .main-limi .chosen-le-un,
#whole .main .main-limi .chosen-le-under,
#whole .main .main-limi .chosen-ri-un,
#whole .main .main-limi .chosen-ri-under,
#whole .main .main-limi .zone-un-le a,
#whole .main .main-limi .zone-un-ri a,
#whole .main .main-limi .zone-under-box h2,
#whole .main .main-limi .zone-under-box p,
#whole .main .main-limi .zone-under-box span,
#whole .main .main-limi .zone-info-box a {
  overflow: hidden;
}

#whole .main .main-limi .main-title,
#whole .main .main-limi .chosen-le-un,
#whole .main .main-limi .chosen-le-under,
#whole .main .main-limi .chosen-ri-un,
#whole .main .main-limi .chosen-ri-under,
#whole .main .main-limi .zone-un-le a,
#whole .main .main-limi .zone-un-ri a,
#whole .main .main-limi .zone-info-box a {
  position: relative;
}

#whole .main .main-limi .more,
#whole .main .main-limi .chosen-le-un .chosen-img-pos,
#whole .main .main-limi .chosen-le-under .chosen-img-pos,
#whole .main .main-limi .chosen-ri-un .chosen-img-pos,
#whole .main .main-limi .chosen-ri-under .chosen-img-pos,
#whole .main .main-limi .img-pos,
#whole .main .main-limi .img-pos2,
#whole .main .main-limi .zone-info-box a div {
  position: absolute;
}

#whole .main .main-limi .zone-un-le,
#whole .main .main-limi .zone-under-box,
#whole .main .main-limi .zone-info-box {
  vertical-align: top;
}

#whole .main .main-limi .img-hover-big {
  transition: all 1s;
}

#whole .main .main-limi .img-hover-big:hover {
  transform: scale(1.1, 1.1);
}

#whole .main .main-limi .img-pos {
  z-index: 1;
}

#whole .main .main-limi .chosen {
  width: 100%;
  height: 912px;
  font-size: 0;
}

#whole .main .main-limi .chosen .chosen-le {
  display: inline-block;
  margin-right: 6px;
}

#whole .main .main-limi .chosen .chosen-le .chosen-le-un {
  width: 591px;
  height: 382px;
  margin-bottom: 6px;
}

#whole .main .main-limi .chosen .chosen-le .chosen-le-un .chosen-img-pos {
  width: 253px;
  height: 61px;
  z-index: 1;
  left: 52.5%;
  top: 10.5%;
}

#whole .main .main-limi .chosen .chosen-le .chosen-le-under {
  width: 591px;
  height: 524px;
}

#whole .main .main-limi .chosen .chosen-le .chosen-le-under .chosen-img-pos {
  width: 238px;
  height: 60px;
  z-index: 1;
  left: 56%;
  top: 19%;
}

#whole .main .main-limi .chosen .chosen-ri {
  display: inline-block;
}

#whole .main .main-limi .chosen .chosen-ri .chosen-ri-un {
  width: 591px;
  height: 524px;
  margin-bottom: 6px;
}

#whole .main .main-limi .chosen .chosen-ri .chosen-ri-un .chosen-img-pos {
  width: 283px;
  height: 107px;
  z-index: 1;
  left: 8%;
  top: 13.5%;
}

#whole .main .main-limi .chosen .chosen-ri .chosen-ri-under {
  width: 591px;
  height: 382px;
  background-color: #615757;
}

#whole .main .main-limi .chosen .chosen-ri .chosen-ri-under .chosen-img-pos {
  width: 294px;
  height: 60px;
  z-index: 1;
  left: 44%;
  top: 10.5%;
}

#whole .main .main-limi .zone {
  width: 100%;
  background-color: #F7F7F7;
}

#whole .main .main-limi .zone .zone-un {
  width: 100%;
  font-size: 0;
}

#whole .main .main-limi .zone .zone-un .zone-un-le {
  display: inline-block;
  width: 594px;
}

#whole .main .main-limi .zone .zone-un .zone-un-le a {
  width: 594px;
  height: 600px;
}

#whole .main .main-limi .zone .zone-un .zone-un-le a .img-pos {
  width: 150px;
  height: 48px;
  z-index: 1;
  left: 60.5%;
  top: 7.5%;
}

#whole .main .main-limi .zone .zone-un .zone-un-le a .img-pos2 {
  width: 171px;
  height: 49px;
  z-index: 1;
  left: 10%;
  top: 7.5%;
}

#whole .main .main-limi .zone .zone-un .zone-un-ri {
  display: inline-block;
  height: 100%;
}

#whole .main .main-limi .zone .zone-un .zone-un-ri a {
  width: 594px;
  height: 300px;
}

#whole .main .main-limi .zone .zone-un .zone-un-ri a .img-pos {
  width: 202px;
  height: 48px;
  z-index: 1;
  left: 6%;
  top: 15%;
}

#whole .main .main-limi .zone .zone-un .zone-un-ri a .img-pos2 {
  width: 127px;
  height: 49px;
  z-index: 1;
  left: 69%;
  top: 15%;
}

#whole .main .main-limi .zone .zone-under {
  width: 100%;
  display: inline-block;
  font-size: 0;
  margin-top: 30px;
  margin-bottom: 12px;
}

#whole .main .main-limi .zone .zone-under .zone-under-box {
  display: inline-block;
  width: 272px;
  padding: 8px;
  height: 334px;
  background-color: #FFFFFF;
  margin-right: 12px;
  text-align: center;
  transition: all .2s linear;
}

#whole .main .main-limi .zone .zone-under .zone-under-box:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

#whole .main .main-limi .zone .zone-under .zone-under-box:last-child {
  margin-right: 0;
}

#whole .main .main-limi .zone .zone-under .zone-under-box a img {
  height: 272px;
}

#whole .main .main-limi .zone .zone-under .zone-under-box a h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  height: 20px;
  color: #1e1e1e;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#whole .main .main-limi .zone .zone-under .zone-under-box a p {
  font-size: 12px;
  color: #777;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#whole .main .main-limi .zone .zone-under .zone-under-box a span {
  font-size: 16px;
  color: #cc0010;
  line-height: 20px;
  height: 20px;
}

#whole .main .main-limi .zone-info {
  display: inline-block;
  width: 100%;
  background-color: #F7F7F7;
  font-size: 0;
}

#whole .main .main-limi .zone-info .zone-info-box {
  width: 388px;
  height: 324px;
  background-color: #FFFFFF;
  margin-right: 12px;
  margin-bottom: 12px;
  display: inline-block;
  text-align: center;
  transition: all .2s linear;
}

#whole .main .main-limi .zone-info .zone-info-box:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

#whole .main .main-limi .zone-info .zone-info-box:hover img {
  transform: scale(1.08, 1.08);
}

#whole .main .main-limi .zone-info .zone-info-box:hover div {
  height: 110px;
}

#whole .main .main-limi .zone-info .zone-info-box:hover div p {
  display: block;
}

#whole .main .main-limi .zone-info .zone-info-box:last-child {
  margin-right: 0;
}

#whole .main .main-limi .zone-info .zone-info-box a {
  width: 100%;
  height: 324px;
}

#whole .main .main-limi .zone-info .zone-info-box a img {
  width: 100%;
  height: 212px;
  transition: all .2s linear;
}

#whole .main .main-limi .zone-info .zone-info-box a div {
  transition: all .2s linear;
  left: 0;
  width: 356px;
  bottom: 0px;
  padding: 24px 16px;
  height: 64px;
  background-color: #FFFFFF;
}

#whole .main .main-limi .zone-info .zone-info-box a div h4 {
  text-align: left;
  font-size: 16px;
  color: #262626;
  margin-bottom: 4px;
  font-weight: 700;
  line-height: 22px;
  height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#whole .main .main-limi .zone-info .zone-info-box a div p {
  display: none;
  line-height: 20px;
  margin-top: 12px;
  text-align: left;
  font-size: 14px;
  color: #777;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#whole .main .main-limi .zone-video {
  width: 100%;
  font-size: 0;
}

#whole .main .main-limi .zone-video .zone-video-box {
  vertical-align: top;
  width: 388px;
  height: 324px;
  background-color: #FFFFFF;
  margin-right: 12px;
  display: inline-block;
  text-align: center;
  position: relative;
}

#whole .main .main-limi .zone-video .zone-video-box:last-child {
  margin-right: 0;
}

#whole .main .main-limi .zone-video .zone-video-box:hover .video-img {
  display: none;
}

#whole .main .main-limi .zone-video .zone-video-box:hover .video-img-hover {
  display: block;
}

#whole .main .main-limi .zone-video .zone-video-box .video-img {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 20px;
  bottom: 140px;
  z-index: 1;
  background: rgba(38, 38, 38, 0.2);
  border-radius: 18px;
}

#whole .main .main-limi .zone-video .zone-video-box .video-img-hover {
  position: absolute;
  display: none;
  width: 36px;
  height: 36px;
  left: 20px;
  bottom: 140px;
  z-index: 1;
  background: rgba(38, 38, 38, 0.2);
  border-radius: 18px;
}

#whole .main .main-limi .zone-video .zone-video-box video {
  width: 100%;
  height: 218px;
}

#whole .main .main-limi .zone-video .zone-video-box div {
  margin: 30px 0;
}

#whole .main .main-limi .zone-video .zone-video-box div h4 {
  text-align: center;
  font-size: 16px;
  color: #262626;
  margin-bottom: 4px;
  font-weight: 700;
  line-height: 22px;
  height: 22px;
}

#whole .main .main-limi .zone-video .zone-video-box div p {
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  color: #777;
}

#whole .main .main-limi .zone-service {
  width: 100%;
  font-size: 0;
}

#whole .main .main-limi .zone-service .one-hover {
  position: relative;
  vertical-align: top;
  width: 288px;
  height: 120px;
  background-color: #FFFFFF;
  display: inline-block;
  margin-right: 12px;
  transition: all .2s linear;
}

#whole .main .main-limi .zone-service .one-hover:last-child {
  margin-right: 0;
}

#whole .main .main-limi .zone-service .one-hover:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

#whole .main .main-limi .zone-service .one-hover .one-img {
  width: 100%;
  height: 100%;
}

#whole .main .main-limi .zone-service .one-hover .one-img {
  width: 100%;
  height: 100%;
}

#whole .main .pic {
  width: 100%;
  height: 350px;
  margin-top: 50px;
  margin-bottom: 60px;
}

#whole .main .footer {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #FFFFFF;
  height: auto;
}

#whole .main .footer .footer-un {
  width: 100%;
  padding: 20px 0;
}

#whole .main .footer .footer-un .footer-un-limi {
  width: 1188px;
  height: 106px;
  margin: 0 auto;
  font-size: 0;
}

#whole .main .footer .footer-un .footer-un-limi .footer-un-box {
  vertical-align: top;
  display: inline-block;
  width: 297px;
  height: 100%;
}

#whole .main .footer .footer-under {
  width: 100%;
  background-color: #FFFFFF;
}

#whole .main .footer .footer-under .footer-under-limi {
  width: 1188px;
  height: 254px;
  margin: 0 auto;
  font-size: 0;
}

#whole .main .footer .footer-under .footer-under-limi .footer-under-le {
  vertical-align: top;
  display: inline-block;
}

#whole .main .footer .footer-under .footer-under-limi .footer-under-le li {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  vertical-align: top;
}

#whole .main .footer .footer-under .footer-under-limi .footer-under-le li h3 {
  height: 22px;
  line-height: 22px;
  color: #262626;
  font-size: 16px;
  margin: 5px 0 20px;
}

#whole .main .footer .footer-under .footer-under-limi .footer-under-le li a {
  height: 18px;
  line-height: 18px;
  color: #777777;
  font-size: 14px;
  margin: 10px 0;
}

#whole .main .footer .footer-under .footer-under-limi .footer-under-le li a:hover {
  color: #00aaa6;
}

#whole .main .footer .footer-under .footer-under-limi .footer-under-ri {
  display: inline-block;
  width: 228px;
  height: 100%;
  text-align: center;
}

#whole .main .footer .footer-under .footer-under-limi .footer-under-ri h2 {
  width: 100%;
  line-height: 32px;
  color: #00aaa6;
  font-size: 24px;
}

#whole .main .footer .footer-under .footer-under-limi .footer-under-ri img {
  width: 100px;
  height: 100px;
  margin: 16px auto 10px;
}

#whole .main .footer .footer-under .footer-under-limi .footer-under-ri p {
  height: 18px;
  line-height: 18px;
  width: 100%;
  font-size: 14px;
  color: #777777;
}

#whole .tail {
  width: 100%;
  background-color: #3F3F3F;
  height: 60px;
  margin-top: 20px;
}

#whole .tail .tail-limi {
  width: 1188px;
  height: 50px;
  padding: 5px 0;
  font-size: 0;
  margin: 0 auto;
}

#whole .tail .tail-limi img {
  vertical-align: top;
  display: inline-block;
  width: 140px;
  height: 50px;
  margin-right: 10px;
}

#whole .tail .tail-limi p {
  height: 18px;
  line-height: 18px;
  width: 100%;
  font-size: 14px;
  color: #777777;
  margin: 5px 0;
}

#whole .tail .tail-limi .permit {
  vertical-align: top;
  display: inline-block;
}

#whole .tail .tail-limi .copyright {
  width: 670px;
  margin: 0 10px;
  vertical-align: top;
  display: inline-block;
}

#whole .tail .tail-limi .copyright p {
  text-align: right;
}

#whole .tail .tail-limi a p:hover {
  color: #00aaa6;
}
